<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap5 uap10 rescap">
  <Identity
    Name="LaiqiInfo.GProxyT"
    Publisher="CN=F5A5F8E6-B2BB-4B41-9DFE-7079CA6B44A4"
    Version="0.0.0.0"
    ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>GProxyT</DisplayName>
    <PublisherDisplayName>LaiqiInfo</PublisherDisplayName>
    <Description>为 Microsoft Store ChatGPT 桌面应用提供进程级代理启动。</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-US" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19041.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>
  <Applications>
    <Application
      Id="App"
      Executable="gproxyt.exe"
      uap10:RuntimeBehavior="packagedClassicApp"
      uap10:TrustLevel="mediumIL">
      <uap:VisualElements
        AppListEntry="default"
        DisplayName="GProxyT"
        Description="为 Microsoft Store ChatGPT 桌面应用提供进程级代理启动。"
        BackgroundColor="transparent"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Square150x150Logo="Assets\Square150x150Logo.png">
        <uap:DefaultTile
          Square71x71Logo="Assets\Square71x71Logo.png"
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          Square310x310Logo="Assets\Square310x310Logo.png" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension
          Category="windows.startupTask"
          Executable="gproxyt-startup.exe"
          EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask
            TaskId="GproxytStartup"
            Enabled="false"
            DisplayName="GProxyT" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
